<!-- USE_HANDLEBARS -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>bureaucoop</title>
    <link rel="stylesheet" href="https://unpkg.com/papercss@1.6.1/dist/paper.min.css">
</head>

<body>
    <div id="root"></div>
    <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
    <script src="{{ config.env.API_ENDPOINT }}/api.js"></script>
    <script>
        window.api.funqlEndpointURL = "{{ config.env.API_ENDPOINT }}"
    </script>
    <script src="/vendors.app.js"></script>
    <script src="/app.js"></script>
    <script src="/runtime.app.js"></script>
    <script src="/main.app.js"></script>
</body>

</html>