body {
    margin: 0px;
    padding: 0px;
}

.leaflet-layer img {
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
    border-top-left-radius: 0px!important;
    border-top-right-radius: 0px!important;
    border: 0px!important;
}